<a
  class="list-group-item d-flex border border-2 rounded-2 p-3"
  [routerLink]="[index]"
  routerLinkActive="active"
  style="cursor: pointer;"
>
  <!-- <div class="row"> -->
  <div>
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="" style="padding-left: 100px">
    <img
      [src]="recipe.imagePath"
      alt=""
      class="img-fluid rounded"
      style="max-height: 60px"
    />
  </span>
  <!-- </div> -->
</a>
