a:hover {
    background-color: #e9ecef !important;
    display: none;
    color: black;
}

a {
    width: max-content;
    cursor: pointer
}

a div {
    /* align-self: left; */
}

a span {
    /* align-self: right; */
}